<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'departments')}">

<body>

<div class="card">
    <div class="card-header">
        <strong>Update Department</strong>
    </div>
    <div class="card-body card-block">
        <form th:object="${department}" action="#"  method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="row form-group">
                <div class="col col-md-3"><label for="name" class=" form-control-label">Name</label></div>
                <div class="col-12 col-md-9"><input th:field="*{name}" type="text" id="name" name="name" class="form-control"></div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3"><label for="textService" class=" form-control-label">Text Service</label>
                </div>
                <div class="col-12 col-md-9"><input th:field="*{textService}" type="text" id="textService" name="textService" class="form-control"></div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3"><label for="available" class=" form-control-label">Available</label>
                </div>
                <div class="col-12 col-md-9">
<!--                    <input th:field="*{available}" type="text" id="available" name="available" class="form-control">-->
                    <select class="form-control" th:field="*{available}">
                        <option th:value="1" th:text="Tersedia"></option>
                        <option th:value="0" th:text="Terpakai"></option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3"><label for="available" class=" form-control-label">Background Color</label>
                <button class="jscolor {valueElement:'bgColor', onFineChange:'setTextColor(this)'}">
                    Pick text color
                </button>
                </div>
                <div class="col-12 col-md-9"><input th:field="*{bgColor}" type="text" id="bgColor" name="bgColor" class="form-control"></div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3"><label class=" form-control-label">Satisfy Img</label></div>
                <div class="col-12 col-md-9"><input type="file" name="satisfy" class="form-control"></div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3"><label class=" form-control-label">Dissatisfy Img</label></div>
                <div class="col-12 col-md-9"><input type="file" name="dissatisfy" class="form-control"></div>
            </div>
            <div class="form-actions form-group">
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                <a href="/department" class="btn btn-danger btn-sm">Cancel</a>
            </div>
            <div class="col-12 col-md-9">Satisfy Img: <img th:src="@{${baseurl + '/satisfy/' + id + '.png'}}"  alt="satisfy"></div>
            <div class="col-12 col-md-9">Dissatisfy Img: <img th:src="@{${baseurl + '/dissatisfy/' + id + '.png'}}"  alt="dissatisfy"></div>
        </form>
    </div>
</div>
<script th:src="|/js/jscolor.js|"></script>
</body>

</html>